# Dependencias locales
backend/venv/
frontend/node_modules/
node_modules/

# Archivos .env (excepto el del front para el build)
.env
.env.*
backend/.env
!frontend/.env.prod

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs y misc
*.log
.git/
.gitignore